.body {
    height: 100%;
    width: 100%;
}

.board {
    width: 50%;
    margin: auto;
    margin-top: 200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.block {
    width: 150px;
    height: 150px;
    border: dashed;
    border-width: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120px;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}